<div
  style="height: 64px"
  class="surface-overlay py-3 px-4 shadow-2 flex align-items-center justify-content-between border-bottom-1 surface-border"
>
  <img src="assets/images/project-logo.png" height="50" />
  <div
    class="align-items-center justify-content-end hidden lg:flex absolute lg:static w-full surface-overlay left-0 top-100 z-1 shadow-2 lg:shadow-none"
  >
    <ul
      class="list-none p-0 m-0 flex lg:align-items-center select-none flex-column lg:flex-row border-top-1 surface-border lg:border-top-none"
    >
      <li></li>

      <li></li>

      <li>
        <a
          pRipple
          class="flex px-6 p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150"
        >
          <i
            class="pi pi-bell text-base lg:text-xl mr-2 lg:mr-0"
            pBadge
            severity="danger"
          ></i>
          <span class="block lg:hidden font-medium">Notifications</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<div>
  <!-- เนื้อหา -->
  <div>
    <div class="flex align-content-centerflex justify-content-center flex-wrap">
      <div class="ml-6">
        <div class="mt-7"></div>
        <h1>รู้จักกับ Prime Project management</h1>
      </div>
    </div>
    <div class="grid">
      <div class="col-6">
        <div class="ml-6">
          <div class="mt-7"></div>
          <h3>Prime Project Management คืออะไร</h3>
          <h1>
            Prime Project Management คือเว็บไซต์ที่จะช่วยให้คุณจัดการ วางแผนต่าง
            ๆ เกี่ยบกับตัวโปรเจคได้อย่างง่ายดาย
          </h1>
        </div>
      </div>
      <div class="col-6">
        <div class="ml-8">
          <div class="mt-7"></div>
          <h1>LOGO</h1>
        </div>
      </div>
    </div>
    <div class="surface-ground px-4 py-8 md:px-6 lg:px-8 mt-5">
      <div class="font-bold text-5xl text-900 mb-5 text-center">
        Template Feature
      </div>
      <div class="grid nogutter flex justify-content-center flex-wrap">
        <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
            <img
              src="assets/images/Kanban.png"
              alt="Image"
              class="block w-full border-round-top"
            />
            <div class="p-4 flex flex-column ">
              <span class="block font-medium text-pink-600 mb-3">Kanban</span>
              <div class="text-xl text-900 font-medium mb-3 line-height-3">
                Journey to the Ends of the Earth
              </div>
              <div class="line-height-3 mb-3 text-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
            <img
              src="assets/images/Scrum.png"
              alt="Image"
              class="block w-full border-round-top"
            />
            <div class="p-4">
              <span class="mt-4 block font-medium text-orange-600 mb-3">Scrum</span>
              <div class="text-xl text-900 font-medium mb-3 line-height-3">
                'Real and imminent' extinction risk
              </div>
              <div class="line-height-3 mb-3 text-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid mb-8">
      <div class="col-6">
        <div class="ml-6">
          <div class="mt-7"></div>
          <h1>มาเริ่มใช้งานกันเลย</h1>
          <h3>เว็บไซต์ Prime project management สามารถใช้งานได้ฟรีโดยไม่ต้องมึค่าใช้จ่ายใด ๆ ทั้งสิ้น</h3>
          <p-button class="ml-3" label="Sign up" [rounded]="true" />
          <p-button class="ml-3" label="Login" [rounded]="true" [text]="true" [raised]="true" severity="success" />


        </div>
      </div>
      <div class="col-6">
        <div class="ml-8">
          <div class="mt-7"></div>
          <h1>LOGO</h1>
        </div>
      </div>
    </div>
  </div>
</div>
