<div class="surface-overlay px-4 py-6 md:px-6 lg:px-8 overflow-hidden">
  <div class="grid grid-nogutter surface-overlay text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">Make project simple</span>
        <span class="block text-6xl font-bold mb-1">and Efficient with</span>
        <div class="text-6xl text-primary font-bold mb-3">Prime Project Manager</div>
        <p class="mt-0 mb-4 text-700 line-height-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <button pButton pRipple icon="pi pi-arrow-right" iconPos="right" label="Get Started" type="button"
          class="mr-3 p-button-raised"></button>
      </section>
    </div>
    <div class="col-12 lg:col-6 overflow-hidden">
      <img src="assets/images/ppm.png" alt="Image" class="lg:ml-auto block" height="500">
    </div>
  </div>
</div>
<!-- 
<div class="surface-section">
  <div class="flex justify-content-between flex-wrap">
    <div class="px-4 py-8 md:px-6 lg:px-8 mt-5">
      <div class="grid nogutter flex justify-content-center flex-wrap">
        <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
            <img src="assets/images/Kanban.png" alt="Image" class="block w-full border-round-top" />
            <div class="p-4 flex flex-column ">
              <span class="block font-medium text-pink-600 mb-3">Kanban</span>
              <div class="text-xl text-900 font-medium mb-3 line-height-3">
                Journey to the Ends of the Earth
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 lg:col-4 p-3">
          <div class="shadow-2 border-round h-full surface-card">
            <img src="assets/images/Scrum.png" alt="Image" class="block w-full border-round-top" />
            <div class="p-4">
              <span class="mt-4 block font-medium text-orange-600 mb-3">Scrum</span>
              <div class="text-xl text-900 font-medium mb-3 line-height-3">
                'Real and imminent' extinction risk
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->