<p-dialog 
  header="Header" 
  [(visible)]="visible" 
  [modal]="true" 
  [draggable]="false" 
  [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold white-space-nowrap ">
      Sign Up
    </span>
  </ng-template>

  <div class="p-4 w-full">
    <div>
      <label for="first_name" class="text-sm block text-900 font-medium mb-2">First Name</label>
      <input id="first_name" type="text" placeholder="First Name" pInputText class="p-inputtext-sm w-full mb-3">
      <label for="last_name" class="text-sm block text-900 font-medium mb-2">Last Name</label>
      <input id="last_name" type="text" placeholder="Last Name" pInputText class="p-inputtext-sm w-full mb-3">

      <label for="email1" class="text-sm block text-900 font-medium mb-2">Email</label>
      <input id="email1" type="text" placeholder="Email address" pInputText class="p-inputtext-sm w-full mb-3">
      <label for="password1" class="text-sm block text-900 font-medium mb-2">Password</label>
      <input id="password1" type="password" placeholder="Password" pInputText class="p-inputtext-sm w-full mb-3">
      <label for="password2" class="text-sm block text-900 font-medium mb-2">Confirm Password</label>
      <input id="password2" type="password" placeholder="Confirm Password" pInputText class="p-inputtext-sm w-full mb-3">
      <button pButton pRipple label="Sign Up" icon="pi pi-user" class="w-full p-button-sm"
      (click)="onSignUp()"></button>
      <p-divider align="center">
        <span class="text-600 font-normal text-sm">OR</span>
      </p-divider>
      <button pButton pRipple severity="secondary" label="Sign Up with Google" icon="pi pi-google" class="w-full p-button-sm"
      (click)="onSigninGoogle()"></button>
    </div>
  </div>
</p-dialog>