<div class="surface-overlay px-4 py-4 md:px-6 lg:px-8">
  <div class="grid">
    <div class="col-12 lg:col-4 pr-0 lg:pr-4">
      <div class="text-900 text-5xl font-bold mb-3"> {{ 'DEVELOPER_TEAM_TITLE' | translate }} </div>
      <p class="text-700 text-lg line-height-3"> {{ 'DEVELOPER_TEAM_DESCRIPTION' | translate }} </p>
    </div>
    <div class="col-12 lg:col-8">
      <div class="grid">
        <div class="col-12 lg:col-6 p-3">
          <img src="assets/images/cat.webp" class="mb-4 w-full" />
          <div class="font-medium text-xl mb-1 text-900"> {{ 'ADVISER_PORNSUREE' | translate }} </div>
          <span class="text-600 font-medium"> {{ 'ADVISER_PORNSUREE_POSITION' | translate }} </span>
        </div>
        <div class="col-12 lg:col-6 p-3">
          <img src="assets/images/cat.webp" class="mb-4 w-full" />
          <div class="font-medium text-xl mb-1 text-900"> {{ 'ADVISER_TARAVICHET' | translate }} </div>
          <span class="text-600 font-medium">{{ 'ADVISER_TARAVICHET_POSITION' | translate }} </span>
        </div>
        <div class="col-12 lg:col-6 p-3">
          <img src="assets/images/cat.webp" class="mb-4 w-full" />
          <div class="font-medium text-xl mb-1 text-900"> {{ 'DEVELOPER_NATTHAPHON' | translate }} </div>
          <span class="text-600 font-medium">{{ 'DEVELOPER_NATTHAPHON_POSITION' | translate }} </span>
        </div>
        <div class="col-12 lg:col-6 p-3">
          <img src="assets/images/cat.webp" class="mb-4 w-full" />
          <div class="font-medium text-xl mb-1 text-900"> {{ 'DEVELOPER_PHURI' | translate }} </div>
          <span class="text-600 font-medium">{{ 'DEVELOPER_PHURI_POSITION' | translate }} </span>
        </div>
      </div>
    </div>
  </div>
</div>