<div class="surface-card shadow-2 border-round p-3 h-screen">
    <div class="flex align-items-center justify-content-between mb-4">
        <span class="font-bold text-900">Issue/Bugs</span>
        
    </div>
    <div class="surface-border p-3 mb-4 flex justify-content-center align-content-center">
        <span class="text-600 text-8xl">14</span>
    </div>
    <ul class="mt-4 list-none p-0 mx-0">
        <li class="flex align-items-center">
            <span style="width:1rem;height:1rem" class="border-round bg-red-500 mr-3 flex-shrink-0"></span>
            <span class="font-medium text-90">Bug</span>
            <span class="text-600 font-medium ml-auto">10</span>
        </li>
        <li class="flex align-items-center mt-2">
            <span style="width:1rem;height:1rem" class="border-round bg-blue-500 mr-3 flex-shrink-0"></span>
            <span class="font-medium text-90">issue</span>
            <span class="text-600 font-medium ml-auto">4</span>
        </li>
    </ul>
</div>