<div class="flex justify-content-between">
    <p class="ml-3">Total-issue</p>
    <p-button class="mr-3 mt-2" label="Edit" />
</div>
<div class="card mt-2">
    <p-table
      [value]="value"
      [(selection)]="memberItem"
      dataKey="id"
      [scrollable]="true"
      scrollHeight="1000px"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Test</th>
          <th>Test</th>
          <th class="text-center">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr class="align-items-center">
          <td>{{ item.name }}</td>
          <td>{{ item.roles }}</td>
          <td class="text-center">
            <p class="text-400 hover:text-red-500 cursor-pointer">X</p>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>