<div class="surface-overlay px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">One Product, </span>
    <span class="text-blue-600">Many Solutions</span>
  </div>
  <div class="text-700 mb-6">
    <span>Our platform is designed to help you build and scale your business with ease.</span>
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-spinner text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Sprint</div>
      <span class="text-700 line-height-3">
        Organize tasks, assign them to team members, and monitor task progress within each sprint cycle.
      </span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-check-circle text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Backlog & Issue</div>
      <span class="text-700 line-height-3">
        Maintain backlogs and issues, prioritize them for upcoming sprints and track their progress.
      </span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-clipboard text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">KanBan Board</div>
      <span class="text-700 line-height-3">
        Visualize tasks across customizable columns and manage workflow stages with a flexible board.
      </span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-users text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Project Member</div>
      <span class="text-700 line-height-3">
        Manage project team members, assign roles and permissions within your project.
      </span>
    </div>

    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-file text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Project Documents</div>
      <span class="text-700 line-height-3">
        Centralize project documents effectively to align with project requirements and ensuring easy access
      </span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
      <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
        <i class="pi pi-send text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Notification & Email</div>
      <span class="text-700 line-height-3">
        Receive notifications and email for important project updates and when assigned a task or issue.
      </span>
    </div>
  </div>
</div>