<button pButton pRipple
  [label]="'BUTTON_CREATE_SPRINT' | translate"
  (click)="showDialog()"
  class="p-button-primary p-button-text p-button-sm w-full">
</button>

<p-dialog header="Header" 
  [(visible)]="visible" 
  [modal]="true" 
  [draggable]="false"
  [style]="{ width: '50vw' }">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold white-space-nowrap ">
        Create Sprint
    </span>
  </ng-template>

  <div class="mt-1">
    <div class="grid">
      <div class="col-12">
        <div class="grid formgrid p-fluid">
            <div class="field mb-4 col-12">
              <label for="nickname" class="font-medium text-500">Sprint name</label>
              <input type="text" pInputText class="p-inputtext-sm">
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="nickname" class="font-medium text-500">Sprint owner</label>
              <input type="text" pInputText class="p-inputtext-sm">
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="city" class="font-medium text-500">Sprint duration</label>
              <input type="text" pInputText class="p-inputtext-sm">
            </div>
            <div class="field mb-4 col-12 md:col-6">
              <label for="email" class="font-medium text-500">Sprint start date</label>
              <input type="text" pInputText class="p-inputtext-sm">
          </div>
          <div class="field mb-4 col-12 md:col-6">
              <label for="city" class="font-medium text-500">Sprint end date</label>
              <input type="text" pInputText class="p-inputtext-sm">
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template pTemplate="footer">
      <p-button label="Cancel" [text]="true" severity="primary" (click)="visible = false" size="small"/>
      <p-button label="Create Sprint" icon="pi pi-save" severity="primary" (click)="onCreate()" size="small" />
  </ng-template>
</p-dialog>