<div>
  <home-navigate 
    (onSignInEvent)="onOpenSignInEvent()" 
    (onSignUpEvent)="onOpenSignUpEvent()"
    (onScrollToElementEvent)="onScrollToElementEvent($event)">
  </home-navigate>
  <sign-in-dialog
    (onSignInEvent)="signInCredential()"
    (onSignInGoogleEvent)="signInGoogle()"
    (onSignUpEvent)="onOpenSignUpEvent()">
  </sign-in-dialog>
  <sign-up-dialog
    (onSignUpEvent)="onSignUp()"
    (onSignInGoogleEvent)="signInGoogle()">
  </sign-up-dialog>

  <div class="first section" id="getstarted">
    <section-getstarted>
    </section-getstarted>
  </div>

  <div class="section" id="features">
    <section-features>
    </section-features>
  </div>

  <div class="section" id="team">
    <section-developer>
    </section-developer>
  </div>

  <app-footer>
  </app-footer>
</div>