<p>Members</p>
<div class="mt-2 p-4 surface-overlay border-1 surface-border border-round">
  <div class="grid">
    <div class="col-8">
      <input type="text" pInputText formControlName="text" />
    </div>
    <div class="col">
      <button
        pButton
        pRipple
        label="Add roles"
        class="p-button-secondary ml-6"
      ></button>
        <button
          pButton
          pRipple
          label="Add members"
          class="p-button-primary ml-4"
        ></button>
    </div>

  </div>
  <div class="">
    <div class="grid ml-8 mt-3">
        <div class="col-3 ">
            <p>Username</p>
        </div>
        <div class="col-3 ">
            <p>Email</p>
        </div>
        <div class="col-3 ">
            <p>Role</p>
        </div>
        <div class="col-3 ">
            <p>Action</p>
        </div>
    </div>
</div>
</div>
