<div class="p-3 surface-overlay border-1 surface-border border-round">
  <div class="flex justify-content-between align-items-center">
    <div class="text-lg">
      Project Resources
    </div>
    <div>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="{{ 'SEARCH_TEXT' | translate }}" class="p-inputtext-sm w-20rem" />
      </span>
      <button pButton pRipple icon="pi pi-plus" label="Add resource" class="p-button-primary p-button-sm ml-2"
        (click)="isAddResource = true">
      </button>
    </div>
  </div>
</div>

<div class="p-3 surface-overlay border-1 surface-border border-round mt-3">
  <div class="text-lg mb-2">
    <span class="text-900">Documents</span>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="p-3 border-round border-1 surface-border border-round  flex align-items-center surface-card">
        <div style="width:48px;height:48px;border-radius:10px"
          class="bg-blue-100 inline-flex align-items-center justify-content-center mr-3">
          <i class="pi pi-file text-blue-600 text-3xl"></i>
        </div>
        <div class="flex justify-content-between w-full">
          <div>
            <span class="text-900 text-xl font-medium">TOR.pdf</span>
            <div class="flex">
              <p-tag severity="danger" value="Secret" styleClass="px-2 py-0" />
            </div>
          </div>
          <div class="flex align-items-center">
            <button pButton pRipple icon="pi pi-download" label="Download" class="p-button-sm p-button-text"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-text p-button-danger"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12">
      <div class="p-3 border-round border-1 surface-border border-round  flex align-items-center surface-card">
        <div style="width:48px;height:48px;border-radius:10px"
          class="bg-blue-100 inline-flex align-items-center justify-content-center mr-3">
          <i class="pi pi-file text-blue-600 text-3xl"></i>
        </div>
        <div class="flex justify-content-between w-full">
          <div>
            <span class="text-900 text-xl font-medium">Work flow.pdf</span>
            <div class="flex">
              <p-tag severity="success" value="develop" styleClass="px-2 py-0" />
            </div>
          </div>
          <div class="flex align-items-center">
            <button pButton pRipple icon="pi pi-download" label="Download" class="p-button-sm p-button-text"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-text p-button-danger"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="isAddResource" [modal]="true" [closable]="false" header="Add Resource" [style]="{width: '70vw'}">
  <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*"
    [showUploadButton]="false" maxFileSize="1000000" (onUpload)="onTemplatedUpload()"
    (onSelect)="onSelectedFiles($event)">
    <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
      let-uploadCallback="uploadCallback">
      <div class="flex flex-wrap justify-content-between align-items-center flex-1">
        <div class="flex">
          <p-button size="small" (onClick)="choose($event, chooseCallback)" icon="pi pi-file" [rounded]="true"
            [outlined]="true" />
          <p-button size="small" (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true"
            severity="danger" [disabled]="!files || files.length === 0" />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles"
      let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">
      <div *ngIf="files?.length > 0">
        <h5>Pending</h5>
        <div class="flex flex-wrap p-0 sm:p-5 gap-5">
          <div *ngFor="let file of files; let index=index"
            class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
            <div>
              <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
            </div>
            <span class="font-semibold">{{ file.name }}</span>
            <div>{{ formatSize(file.size) }}</div>
            <p-button icon="pi pi-times" (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, index)"
              [outlined]="true" [rounded]="true" severity="danger" />
          </div>
        </div>
      </div>
      <div *ngIf="uploadedFiles?.length > 0">
        <h5>Completed</h5>
        <div class="flex flex-wrap p-0 sm:p-5 gap-5">
          <div *ngFor="let file of uploadedFiles; let index = index"
            class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">
            <div>
              <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />
            </div>
            <span class="font-semibold">{{ file.name }}</span>
            <div>{{ formatSize(file.size) }}</div>
            <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(index)" [outlined]="true"
              [rounded]="true" severity="danger" />
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="file"> </ng-template>
    <ng-template pTemplate="empty">
      <div class="flex align-items-center justify-content-center flex-column">
        <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
        <p class="mt-4 mb-0 text-400">Drag and drop files here to upload.</p>
      </div>
    </ng-template>
  </p-fileUpload>

  <ng-template pTemplate="footer">
    <button pButton pRipple (click)="isAddResource = false" label="Cancel" class="p-button-text"></button>
    <button pButton pRipple (click)="isAddResource = false" label="Save"></button>
  </ng-template>
</p-dialog>