<div class="p-3 ml-2 surface-overlay border-1 surface-border border-round">
  <div class="w-full flex justify-content-between align-items-center">
    <div class="surface-overlay">
      <div
        class="flex flex-column flex md:flex-row md:justify-content-between md:align-items-center"
      >
        <span class="text-lg font-medium text-900">Dashboard</span>
      </div>
    </div>
    <div class="align-items-center mt-2 md:mt-0">
      <button
        pButton
        pRipple
        icon="pi pi-pencil"
        class="p-button-primary p-button-sm text-xs"
        [outlined]="true"
        [rounded]="true"
      ></button>
    </div>
  </div>
</div>

<gridster [options]="options" class="surface-ground border-none">
  @for (item of dashboard; track item) {
  <gridster-item [item]="item" class="bg-white shadow-2 border-round">
    <ng-container *ngComponentOutlet="item['component']"> </ng-container>
  </gridster-item>
  }
</gridster>
