<ngx-gantt #gantt 
  [items]="items" 
  [baselineItems]="baselineItems"
  [viewType]="viewType"
  [draggable]="true"
  [linkable]="true"
  [selectable]="true"
  [multiple]="true"
  [viewOptions]="viewOptions"
  [showToolbar]="isShowToolbarChecked"
  [toolbarOptions]="toolbarOptions"
  [loading]="loading"
  [virtualScrollEnabled]="false"
  (viewChange)="viewChange($event)"
  (dragEnded)="dragEnded($event)"
  (selectedChange)="selectedChange($event)"
  (linkDragEnded)="linkDragEnded($event)"
  [viewOptions]="viewOptions">
  <ngx-gantt-table
    [draggable]="true"
    [dropEnterPredicate]="dropEnterPredicate"
    (dragDropped)="onDragDropped($event)"
    (dragStarted)="onDragStarted($event)"
    (dragEnded)="onDragEnded($event)">
    <ngx-gantt-column name="标题" width="300px">
      <ng-template #cell let-item="item"> {{ item.title }} </ng-template>
    </ngx-gantt-column>
  </ngx-gantt-table>
</ngx-gantt>


