<div class="p-3 ml-2 surface-overlay border-1 surface-border border-round">
  <div class="w-full flex justify-content-between align-items-center">
    <div class="surface-overlay">
      <div class="flex flex-column flex md:flex-row md:justify-content-between md:align-items-center">
        <span class="text-lg font-medium text-900">Dashboard</span>
      </div>
    </div>
    <div class="align-items-center">
      <button
        pButton
        pRipple
        [icon]="isEdit ? 'pi pi-save' :'pi pi-pencil'"
        [label]="isEdit ? 'Save Change' :'Edit Dashboard'"
        [class]="isEdit ? 'p-button-success p-button-sm text-xs': 'p-button-primary p-button-sm text-xs p-button-outlined'"
        (click)="toggleEdit()"
      ></button>
    </div>
  </div>
</div>

<gridster [options]="options" class="surface-ground border-none">
  @for (item of dashboard; track item) {
  <gridster-item [item]="item" class="bg-white shadow-2 border-round">
    <ng-container *ngComponentOutlet="item['component']"> </ng-container>
  </gridster-item>
  }
</gridster>
