<div class="flex align-items-center justify-content-between">
  <div class="ml-4">
    <p class="font-bold">Assigned to me</p>
  </div>
  <p class="mr-4 text-400">Total issue : 4</p>
</div>
<div class="overflow-scroll h-16rem">
  <div class="flex justify-content-between">
    <div class="ml-2 flex flex-row">
      <div class="flex justify-content-between">
        <div class="flex align-items-center justify-content-center ml-2 mt-4">
          <p-tag
            icon="pi pi-user"
            class="ml-2"
            severity="secondary"
            value="Phuri siripool"
            pTooltip="Assignee"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            class="ml-2"
            severity="danger"
            value="High"
            pTooltip="Priority"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            class="ml-2"
            severity="info"
            value="Sprint-1"
            pTooltip="Sprint"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            icon="pi pi-microchip"
            class="ml-2"
            severity="danger"
            value="Bug"
            pTooltip="Issue Type"
            tooltipPosition="top"
            placeholder="Top"
          />
          <span
            class="ml-4"
            pTooltip="Taskname"
            tooltipPosition="top"
            placeholder="Top"
            >kiw</span
          >
        </div>
      </div>
    </div>
    <div class="mt-4 mr-4">
      <p-tag severity="warning" value="Not started" [rounded]="true" />
    </div>
  </div>
  <div class="m-4">
    <p-divider type="solid" />
  </div>
  <div class="flex justify-content-between">
    <div class="ml-2 flex flex-row">
      <div class="flex justify-content-between">
        <div class="flex align-items-center justify-content-center ml-2">
          <p-tag
            icon="pi pi-user"
            class="ml-2"
            severity="secondary"
            value="Nat d. Best"
            pTooltip="Assignee"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            class="ml-2"
            severity="success"
            value="Low"
            pTooltip="Priority"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            class="ml-2"
            severity="info"
            value="Sprint-2"
            pTooltip="Sprint"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            icon="pi pi-lightbulb"
            class="ml-2"
            severity="success"
            value="Requirement"
            pTooltip="Issue type"
            tooltipPosition="top"
            placeholder="Top"
          />
          <span
            class="ml-4"
            pTooltip="Taskname"
            tooltipPosition="top"
            placeholder="Top"
            >NAT-2</span
          >
        </div>
      </div>
    </div>
    <div class="mt-4 mr-4">
      <p-tag severity="warning" value="Not started" [rounded]="true" />
    </div>
  </div>
  <div class="m-4">
    <p-divider type="solid" />
  </div>
  <div class="flex justify-content-between">
    <div class="ml-2 flex flex-row">
      <div class="flex justify-content-between">
        <div class="flex align-items-center justify-content-center ml-2">
          <p-tag
            icon="pi pi-user"
            class="ml-2"
            severity="secondary"
            value="Nat d. Best"
            pTooltip="Assignee"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            class="ml-2"
            severity="success"
            value="Low"
            pTooltip="Priority"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            class="ml-2"
            severity="info"
            value="Sprint-3"
            pTooltip="Sprint"
            tooltipPosition="top"
            placeholder="Top"
          />
          <p-tag
            icon="pi pi-lightbulb"
            class="ml-2"
            severity="success"
            value="Requirement"
            pTooltip="Issue type"
            tooltipPosition="top"
            placeholder="Top"
          />
          <span
            class="ml-4"
            pTooltip="Taskname"
            tooltipPosition="top"
            placeholder="Top"
            >NAT-3</span
          >
        </div>
      </div>
    </div>
    <div class="mt-4 mr-4">
      <p-tag severity="warning" value="Not started" [rounded]="true" />
    </div>
  </div>
  <div class="m-4">
    <p-divider type="solid" />
  </div>
  <div class="flex justify-content-between">
    <div class="ml-2 flex flex-row">
      <div class="flex justify-content-between">
        <div class="flex align-items-center justify-content-center ml-2">
          <p-tag
            icon="pi pi-user"
            class="ml-2"
            severity="secondary"
            value="Nat d. Best"
          />
          <p-tag class="ml-2" severity="success" value="Low" />
          <p-tag class="ml-2" severity="info" value="Sprint-4" />
          <p-tag
            icon="pi pi-lightbulb"
            class="ml-2"
            severity="success"
            value="Requirement"
          />
          <span class="ml-4">NAT-4</span>
        </div>
      </div>
    </div>
    <div class="mt-4 mr-4">
      <p-tag severity="warning" value="Not started" [rounded]="true" />
    </div>
  </div>
</div>
