<div class="grid grid-nogutter surface-section px-4 py-4 md:px-6 lg:px-8 border-top-1 surface-border">
  <div class="col-12 lg:col-6 lg:border-right-1 surface-border">
    <span class="text-900 block mt-4 mr-3"> {{ 'FOOTER_UNIVERSITY_NAME' | translate }} </span>
    <span class="text-900 block mr-3"> {{ 'FOOTER_UNIVERSITY_LOCATE' | translate }} </span>
    <span class="text-500 block mt-4">Copyright © 2024 IT&#64;KMITL. All rights reserved</span>
  </div>
  <div class="col-12 lg:col-6 flex mt-4 lg:mt-0 lg:pl-4 flex-column">
    <span class="text-900 text-xl font-medium block"> {{ 'FOOTER_CONTACT' | translate }} </span>
    <div class="flex flex-column  mt-4">
      <a class="cursor-pointer text-700 mr-5">
        <i class="pi pi-phone"></i>
        <span class="ml-2">+66 (0) 2723 4900</span>
      </a>
      <a class="cursor-pointer text-700 mr-5">
        <i class="pi pi-building"></i>
        <span class="ml-2">+66 (0) 2723 4910</span>
      </a>
    </div>
    <div class="flex  mt-4">
      <a class="cursor-pointer text-700 mr-5" href="https://www.facebook.com/ITLadkrabang" target="_blank">
        <i class="pi pi-facebook"></i>
      </a>
      <a class="cursor-pointer text-700 mr-5" href="https://x.com/itkmitl" target="_blank">
        <i class="pi pi-twitter"></i>
      </a>
      <a class="cursor-pointer text-700 mr-5" href="https://www.youtube.com/user/itkmitl1" target="_blank">
        <i class="pi pi-youtube"></i>
      </a>
      <a class="cursor-pointer text-700" href="https://www.it.kmitl.ac.th/en" target="_blank">
        <i class="pi pi-globe"></i>
      </a>
    </div>
  </div>
</div>