<div class="p-3 surface-overlay border-1 surface-border border-round">
  <div class="surface-overlay">
    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
      <span class="text-lg font-medium text-900">{{
        "MENU_LIST" | translate
        }}</span>
      <div class="flex align-items-center mt-2 md:mt-0">
        <span class="p-input-icon-left">
          <i class="pi pi-search" icon="pi "></i>
          <input type="text" pInputText placeholder="{{ 'SEARCH_TEXT' | translate }}" class="p-inputtext-sm w-20rem" />
        </span>
        <span>
          <p-button 
            icon="pi pi-plus" 
            label="Create Issue" 
            size="small" 
            class="ml-2"
            (onClick)="isOnCreateIssue = true"></p-button>
        </span>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <p-table [value]="value" [scrollable]="true" scrollHeight="600px" [(selection)]="selectedProducts" dataKey="id"
    [reorderableColumns]="true" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th><p-tableHeaderCheckbox /></th>
        <th pSortableColumn="type">
          Type <p-sortIcon field="type" />
        </th>
        <th pSortableColumn="summary">
          Summary <p-sortIcon field="summary" />
        </th>
        <th pSortableColumn="status">
          Status <p-sortIcon field="status" />
        </th>
        <th> Sprint </th>
        <th> Assignee </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-editing="editing">
      <tr>
        <td>
          <p-tableCheckbox [value]="item" />
        </td>
        <td>
          @if (item.type == "TASK") {
          <span class="p-tag p-tag-success">{{ item.type }}</span>
          } @else if (item.type == "BUG") {
          <span class="p-tag p-tag-danger">{{ item.type }}</span>
          }
        </td>
        <td>{{ item.summary }}</td>
        <td>
          @if (item.status == "TODO") {
          <span class="p-tag bg-gray-400">{{ item.status }}</span>
          } @else if (item.status == "IN PROGRESS") {
          <span class="p-tag p-tag-warning">{{ item.status }}</span>
          } @else if (item.status == "DONE") {
          <span class="p-tag p-tag-success">{{ item.status }}</span>
          }
        </td>
        <td [pEditableColumn]="item.sprint" pEditableColumnField="sprint">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="options" optionLabel="label" class="p-dropdown-sm">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ item.sprint }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]="item.sprint" pEditableColumnField="assignee">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [options]="optionsAssignee" optionLabel="label" class="p-dropdown-sm">
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ item.sprint }}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog 
  header="Create Issue"
  [(visible)]="isOnCreateIssue" 
  [modal]="true"
  [style]="{'min-width': '50vw'}"
  styleClass="p-3">
  <span class="p-text-secondary block mb-5">
    Create a new issue
  </span>
  <div [formGroup]="formGroup">
    <div class="grid">
      <div class="col-3">
        <label for="username" class="font-semibold w-6rem">Issue Type</label>
      </div>
      <div class="col-9">
        <p-dropdown 
          [options]="optionsType" 
          optionLabel="label" 
          placeholder="Select Type" 
          formControlName="type" 
          styleClass="w-full">
        </p-dropdown>
      </div>
    </div>

    <div class="grid">
      <div class="col-3">
        <label for="username" class="font-semibold w-6rem">Issue Name</label>
      </div>
      <div class="col-9">
        <input type="text" pInputText class="p-inputtext-sm w-full" formControlName="summary">
      </div>
    </div>

    <div class="grid">
      <div class="col-3">
        <label for="username" class="font-semibold w-6rem">Assign To</label>
      </div>
      <div class="col-9">
        <p-dropdown 
          appendTo="body"
          [options]="optionsAssignee" 
          optionLabel="label" 
          placeholder="Select Assignee" 
          formControlName="assignee" 
          styleClass="w-full">
        </p-dropdown>
      </div>
    </div>

    <div class="grid">
      <div class="col-3">
        <label for="username" class="font-semibold w-6rem">Sprint</label>
      </div>
      <div class="col-9">
        <p-dropdown 
          appendTo="body"
          [options]="options" 
          optionLabel="label" 
          placeholder="Select Assignee" 
          formControlName="sprint" 
          styleClass="w-full">
        </p-dropdown>
      </div>
    </div>
  </div>
  <p-footer>
    <p-button label="Cancel" severity="secondary" size="small" [text]="true" (onClick)="isOnCreateIssue = false" />
    <p-button icon="pi pi-save" label="Save" size="small" (onClick)="onCreateIssue()" />
  </p-footer>
</p-dialog>