.h-screen-custom {
  height: calc(100vh - 64px);
}

.main-content {
  min-height: calc(100vh - 64px - 32px - 32px - 16px);
}

a {
  text-decoration: none;
}

.highlight {
  background-color: #d0e1fd;
  color: #3b82f6;
  font-weight: bolder;
}