<div class="h-full">
  <div class="p-3 surface-overlay border-1 surface-border border-round">
    <backlog-control>
    </backlog-control>
  </div>

  <div class="mt-2 p-3 content-container surface-overlay border-1 surface-border border-round">
    <div class="flex flex-column align-items-center justify-content-center">
      <div class="w-full text-xl text-500">{{ 'TITLE_SPRINT' | translate }}</div>
      <p-divider class="w-full -mt-2"></p-divider>
      <div class="w-full">
        @if (listSprint.length) {
          <backlog-sprint [listSprint]="listSprint">
          </backlog-sprint>
        }@else {
          <no-itemlist 
            [title]="'LABEL_NO_SPRINT'"
            [description]="'DESCRIPTION_NO_SPRINT'">
          </no-itemlist>
        }
        <p-divider></p-divider>
        <div pRipple class="mt-3 border-2 surface-border border-dashed border-round">
          <backlog-sprint-create>
          </backlog-sprint-create>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-2 p-3 content-container surface-overlay border-1 surface-border border-round">
    <div class="flex flex-column align-items-center justify-content-center">
      <div class="w-full text-xl text-500">{{ 'TITLE_ISSUE' | translate }}</div>
      <p-divider class="w-full -mt-2"></p-divider>
      <div class="w-full">
        @if (listIssue.length) {
          <backlog-issue [listIssue]="listIssue">
          </backlog-issue>
        }@else {
          <no-itemlist 
            [title]="'LABEL_NO_ISSUE'"
            [description]="'DESCRIPTION_NO_ISSUE'">
          </no-itemlist>
        }
        <p-divider></p-divider>
        @if (!isCreateIssue) {
          <div #buttonIssue pRipple class="mt-3 border-2 surface-border border-dashed border-round">
            <button  pButton pRipple
              [label]="'BUTTON_CREATE_ISSUE' | translate"
              class="p-button-secondary p-button-text p-button-sm w-full">
            </button>
          </div>
        }
        @else {
          <input #inputIssue 
            [(ngModel)]="issueName"
            type="text" 
            pInputText
            class="w-full ">
        }
      </div>
    </div>
  </div>
</div>

